{#add de comunidad#}
{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="main container">
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>Nueva Comunidad</h2>
                </div>
                
                {{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'role': 'form'} }) }}
                
                <div class="form-group">
                    {{ form_label(form.nombre, 'Nombre') }}
                    {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Nombre de la comunidad' } }) }}
                    <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                </div>
                
                <div class="form-group">
                    {{ form_label(form.direccion, 'Dirección') }}
                    {{ form_widget(form.direccion, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Dirección de la comunidad' }}) }}
                    <span class="text-danger">{{ form_errors(form.direccion) }}</span>
                </div>
                
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.mancomunidad) }}Es una mancomunidad
                        <span class="text-danger">{{ form_errors(form.mancomunidad) }}</span>
                    </label>
                </div>
                
                
                </fieldset>
                
                <p>
                    {{ form_widget(form.save, {'label' : 'Crear comunidad', 'attr': {'class': 'btn btn-success'}}) }}
                </p>
            
                
                {{ form_end(form) }}
                
            </div>
        </div>
    </div>
{% endblock %}